body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
/****************************************************** NAV************************************************************************/



.nav{
    width: 100%;
    height: 40px;
    box-shadow: -1px 6px 5px 1px rgba(167,149,149,0.75);
    display: flex;
    align-items: center;
    
}
.menu{
    margin-left: 100px;
    
}

.menu a{
    text-decoration: none;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 40px;
    color: rgb(46, 79, 46);
}
.baby-modal{
    width: auto;
    height: auto;
    background-color: whitesmoke;
    box-shadow: -1px 6px 5px 1px rgba(167,149,149,0.75);
    border-top: 3px solid blue;
    display: flex;
    
}
.display-none{
    position: fixed;
    left: 200px;
    top: 35px;
    display: none;
}
.baby-modal a{
    color: rgb(68, 79, 79);
    display: block;
    text-decoration: none;
    padding: 5px;
}
.baby-modal a:hover{
    color: green;
}
.beauty-display-none{
    position: fixed;
    left: 280px;
    top: 35px;
    display: none;
}
.hair-display-none{
    position: fixed;
    left: 350px;
    top: 35px;
    display: none;
}
.face-display-none{
    position: fixed;
    left: 400px;
    top: 35px;
    display: none;
}
.body-display-none{
    position: fixed;
    left: 450px;
    top: 35px;
    display: none;
}

/*************************************************** BANNER SECTION  *********************************************/
.banner img{
    width: 100%;
    height: auto;
}

.video-input-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.video-container{
    border: 15px solid coral;
    border-radius: 20px;
    margin-top: 40px;
    
    
}
.video-container iframe{
    border-radius: 5px;
}

.input-container input{
    width: 300px;
    height: 30px;
    padding: 5px;
    margin-left: 70px;
}
.input-container h1{
    font-family: "Gill Sans", sans-serif;
    font-weight: 100;
}
.input-container button{
    width: 315px;
    height: 40px;
    margin: 15px 70px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 10px;
}

.promise-container{
    
    margin-left: 120px;
}
.promise{
    width: auto;
    height: 30px;
    margin-top: 30px;
    font-size: xx-large;
    padding: 5px;
    
}
.border{
    height: 10px;
    width: 100px;
    background-color: black;
    margin-left: 30px;
    clip-path: polygon(49% 88%, 0% 100%, 100% 100%);
}
.promise-text-container{
    display: flex;
    justify-content: space-between;
}
.promise-text{
    width: 900px;
    color: darkslategray;
    font-size: 20px;
    line-height: 30px;
}
.plant-tree{
    width: 250px;
    height: 130px;
    text-align: center;
    font-size: large;
    background-color: coral;
    box-shadow: -1px 6px 5px 1px rgba(167,149,149,0.75);
    border-radius: 10px;
    color: white;
    position: relative;
    right: 200px;
    bottom: 50px;
}
.plant{
    position: relative;
    right: 180px;
    
}


.photo-quote-section{
    width: auto;
    height: 350px;
    display: flex;
    background-color: beige;
}
.preview{
    width: 250px;
}
#preview{
    width: 50px;
    height: 100px;
    position: relative;
    left: 100px;
    top: 100px;
}
.ritu{
    margin-top: 30px;
}
.ritu-quote{
    width: 500px;
    margin: 70px;
    font-size: 30px;
    color: chocolate;
}
#next{
    width: 50px;
    height: 100px;
    position: relative;
    top: 100px;
}


.planting_main_container{
    width: 100%;
    height: auto;
}

.heading{
    text-align: center;
    font-size: large;
}

.images_container{
    display: flex;
    justify-content: space-evenly;
}



/******************************************* CHAT BOT ********************************/

.chatbot{
    position: fixed;
    right: 50px;
    bottom: 50px;
}
#chatbot{
    width: 70px;
    height: 70px;
    font-size: xx-large;
    border-radius: 50%;
    border: none;
    background-color: coral;
    box-shadow: -1px 6px 5px 1px rgba(167,149,149,0.75);
}

.chatbot_popup_modal{
    width: 400px;
    height: 550px;
    background-color: coral;
    border-radius: 10px;
    position: fixed;
    right: 20px;
    bottom: 30px;
}


.chatbot_header h2{
    color: white;
    margin-left: 20px;
}

.para_image_container{
    display: flex;
    justify-content: space-around;
}

.para{
    color: white;
}

#down_btn{
    position: absolute;
    top: 20px;
    right: 40px;
    background: none;
    border: none;color: white;
}

.chatbot_main_section{
    width: 100%;
    height: 400px;
    background-color: beige;
    overflow: auto;
}

.left_center_right{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatbot_main_left{
    width: 200px;
    height: 3px;
    background-color: black;
    clip-path: polygon(50% 70%, 0% 100%, 100% 100%);
}

.chatbot_main_right{
    width: 200px;
    height: 3px;
    background-color: black;
    clip-path: polygon(50% 70%, 0% 100%, 100% 100%);
}
.chatbot_footer{
    background-color: wheat;
    height: 70px;
    border-radius: 0px 0px 10px 10px;
    
}


.footer_input{
    width: 75%;
    height: 30px;
    margin: 10px;
    padding: 5px;
    border: none;
}

.imoji_btn{
    font-size: large;
    background: none;
    border: none;
    color: crimson;
}

.paste_div{
    width: fit-content;
    min-height: fit-content;
    font-size: large;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: coral;
    color: white;
}